// Base
$dark-087: rgba(0,23,39,0.87);
$dark-054: rgba(0,23,39,0.54);
$dark-026: rgba(0,23,39,0.26);
$dark-012: rgba(0,23,39,0.12);

$breakpoints: (
  s: "only screen and (max-width: 575px)",
  m: "only screen and (max-width: 767px)",
  l: "only screen and (max-width: 991px)",
  xl: "only screen and (max-width: 1199px)",
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  color: $dark-087;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  font-size: 1.2rem;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: $dark-087;
}

// Layout
.container {
  width: 90%;
  max-width: 750px;
  margin: auto;
}

// Module
.header {
  padding: 50px 0px;
  &-title {
    text-align: center;
  }
}

.listed-item {
  border-left: $dark-012 solid 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include media(s) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  padding: 0px 10px;
  &-new {
    padding: 10px;
    text-align: right;
  }
  &-title {
    margin-right: auto;
    &-large {
      font-size: 1.8rem;
    }
  }
  &-body {
    margin-right: auto;
  }
  &-controllers {
    display: flex;
  }
  &-controller-icon {
    padding-left: 10px;
  }
}

.entry {
  &-title {
    padding-bottom: 20px;
  }
  &-body {
    padding-bottom: 20px;
  }
}

.form {
  &-label {
    font-weight: bold;
    padding-bottom: 10px;
  }
  &-item{
    padding-bottom: 20px;
  }
  & input {
    &[type='text'] {
      width: 100%;
      box-sizing: border-box;
      padding: 5px;
    }
    &[type='submit'] {
      cursor: pointer;
      padding: 10px 25px;
      border-radius: 10px;
      background-color: $dark-012;
      font-weight: bold;
      &:hover {
        background-color: $dark-054;
      }
    }
  }
  .textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    &-large {
      line-height: 1.6;
    }
  }
}

.error_explanation {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: $dark-012;
  color: $dark-087;
}

.alert {
  background-color: $dark-012;
  padding: 10px;
}

// State
.is-centralized {
  text-align: center;
}