// Base
$dark-087: rgba(0,23,39,0.87);
$dark-054: rgba(0,23,39,0.54);
$dark-026: rgba(0,23,39,0.26);
$dark-012: rgba(0,23,39,0.12);

body {
  color: $dark-087;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;;
}

a {
  color: $dark-087;
}

// Layout
.container {
  width: 750px;
  margin: auto;
}

// Module
.header {
  padding: 50px 0px;
  &-title {
    text-align: center;
  }
}

.listed-item {
  border-left: $dark-012 solid 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10px;
  &-new {
    padding: 10px;
    text-align: right;
  }
  &-title {
    margin-right: auto;
    &-large {
      font-size: 1.8em;
    }
  }
  &-body {
    margin-right: auto;
  }
  &-controller-icon {
    padding-left: 10px;
  }
}

.entry {
  &-title {
    padding-bottom: 20px;
  }
  &-body {
    font-size: 1.3em;
    line-height: 1.3em;
    padding-bottom: 20px;
  }
}

.form {
  &-label {
    font-weight: bold;
    padding-bottom: 10px;
  }
  &-item{
    padding-bottom: 20px;
  }
  & input {
    &[type='text'] {
      font-size: 2.0em;
      width: 100%;
      box-sizing: border-box;
      padding: 5px;
    }
    &[type='submit'] {
      cursor: pointer;
      padding: 10px 25px;
      border-radius: 10px;
      background-color: $dark-012;
      font-weight: bold;
      &:hover {
        background-color: $dark-054;
      }
    }
  }
  .textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    &-large {
      font-size: 1.3em;
      line-height: 1.3em;
    }
  }
}

.error_explanation {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: $dark-012;
  color: $dark-087;
}

.alert {
  background-color: $dark-012;
  padding: 10px;
  &-success {
//    color: $dark-087;
  }
}

// State
.is-centralized {
  text-align: center;
}